<plugin name='app-info' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>Burt Beckwith</author>
  <authorEmail>burt@burtbeckwith.com</authorEmail>
  <title>Management plugin</title>
  <description>UI for inspecting various aspects of the application's configuration</description>
  <documentation>http://grails.org/plugin/app-info</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.HibernateControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.IndexControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.Log4jControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.MemoryControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.PropertiesControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.ScopesControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.SpringControllerMixin</resource>
    <resource>com.burtbeckwith.grails.plugins.appinfo.ChartTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='dynamicController' version='0.2 &gt; *' />
    <plugin name='googleVisualization' version='0.2.1 &gt; *' />
    <plugin name='jquery' version='1.4.2.5 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenRepo' root='http://repository.jboss.com/maven2/' name='http://repository.jboss.com/maven2/' m2compatbile='true' />
    </resolvers>
    <dependency group='org.hibernate' name='hibernate-tools' version='3.2.4.GA' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>